h1
{
  font-size: 2em;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #557174;
}

.text-header
{
  color: #dfeeea;
  font-size: larger;
}

h1 {
  margin-left: 30px;
  margin-top: 20px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

a {
  color: #2f5d62;
  margin: 10px;
  text-decoration: none;
}

.menu {
  margin: 25px;
  display: inline-block;
}

.dropdown
{
  display: inline-block;
}

@media screen and (min-width: 770px) 
{
  .dropdown
  {
    display: none;
  }

  .menu
  {
    float: right;
  }
}

@media screen and (max-width: 770px) 
{
  .dropdown
  {
    float: right;
    margin: 20px;
  }

  .menu
  {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  background-color: hsl(210, 46%, 95%);
  color: hsl(210, 46%, 95%);
}

main {
  max-width: 550px;
}



.end-text
{
  text-align: center;
  margin-top: 70px;;
  margin-bottom: 40px;
  color: black;
}

.section-3{
    
  padding: 1.2rem;
  background-color: #fafafa;

}

.heading-section--3{
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.para-section--3{
  font-size: 1rem;
  font-weight: 400;
  opacity: 50%;
  text-transform: capitalize;
  text-align: center;
}

.card-title{
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 100%;
  text-transform: capitalize;
  color: black;
}
.card-text{
  font-size: 1rem;
  font-weight: 400;
  opacity: 90%;
  text-transform: capitalize;
}

h2
{
  color: black;
}

.card-text
{
  color: black;
}