body 
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header 
{
  height: 70px;
  width: 100%;
  background-color: #557174;
}

.text-header 
{
  color: #dfeeea;
  font-size: larger;
}

h1 
{
  font-size: 2em;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

a 
{
  color: #2f5d62;
  margin: 10px;
  text-decoration: none;
}

.menu 
{
  margin: 25px;
  float: right;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  background-color: hsl(210, 46%, 95%);
  color: hsl(210, 46%, 95%);
  line-height: 1.3;
}

main 
{
  max-width: 550px;
}

img 
{
  display: block;
  width: 100%;
  height: auto;
}

blockquote 
{
  font-size: 0.85rem;
  line-height: 1.6;
}

.center-hv 
{
  display: flex;
  justify-content: center;
}

.card 
{
  border-radius: 8px;
  padding: 2.2em;
  margin: 1.5em;
  background-color: #fff;
  background-image: url("p.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-child(1) 
{
  height: 300px;
  position: relative;
}

.card:nth-child(2) 
{
  background-color: hsl(217, 19%, 35%);
  height: 300px;
}

.card:nth-child(3) 
{
  height: 300px;
  color: hsl(217, 19%, 35%);
  box-shadow: 50px 50px 50px -50px hsl(0, 0%, 81%);
}

.card:nth-child(4) 
{
  background-color: hsl(219, 29%, 14%);
  height: 300px;
}

.card:nth-child(5) 
{
  color: hsl(217, 19%, 35%);
  box-shadow: 50px 50px 50px -50px hsl(0, 0%, 81%);
}

.intro 
{
  position: relative;
  font-weight: 600;
  font-size: 1.33rem;
  padding: 0.7em 0;
  z-index: 10;
}

@media screen and (min-width: 1000px) 
{
  main 
  {
    max-width: 1150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one one two three"
      "four five five three";
  }

  .center-hv 
  {
    height: 100vh;
    align-items: center;
  }

  .card 
  {
    margin: 1.1em;
  }

  .card:nth-child(1) 
  {
    grid-area: one;
    height: 300px;
  }

  .card:nth-child(2) 
  {
    grid-area: two;
  }

  .card:nth-child(3) 
  {
    grid-area: four;
  }

  .card:nth-child(4) 
  {
    grid-area: five;
    height: 300px;
  }

  .card:nth-child(5) 
  {
    grid-area: three;
  }

  .double-quote 
  {
    right: 5.8em;
  }

  .intro 
  {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1000px) 
{
  .card:nth-child(5) 
  {
    height: 300px;
  }
}

.triangle 
{
  width: 50px;
  height: 50px;
  display: inline;
}

.section 
{
  color: black;
}

h2 
{
  display: inline;
}

hr 
{
  border-style: none;
  border-bottom-style: solid;
  border-color: grey;
  border-width: 5px;
  width: 80%;
  margin-left: 20px;
}

.news-img 
{
  margin: 20px;
  display: inline;
  width: 100px;
  height: 100px;
  background-size: 100px;
}

.news-title 
{
  display: inline;
  position: relative;
  top: 25px;
  text-align: left;
  font-size: medium;
}

@media screen and (min-width: 1000px) 
{
  .section-grid 
  {
    margin: 0 auto;
    max-width: 1150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one two "
      "three four";
  }

  .responsive 
  {
    display: none;
  }
}

@media screen and (max-width: 1000px) 
{
  .section-grid {
    margin-left: 50px;
    margin-right: 50px;
  }

  .menu {
    display: none;
  }
}

.one-row 
{
  flex-direction: row;
  display: flex;
}

.end-text 
{
  text-align: center;
  margin-top: 70px;
  ;
  margin-bottom: 40px;
  color: black;
}

.menu 
{
  margin: 25px;
  display: inline-block;
}

.dropdown 
{
  display: inline-block;
}

@media screen and (min-width: 770px) 
{
  .dropdown 
  {
    display: none;
  }

  .menu 
  {
    float: right;
  }
}

@media screen and (max-width: 770px) 
{
  .dropdown 
  {
    float: right;
    margin: 20px;
  }

  .menu 
  {
    display: none;
  }
}