<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="../static/css/style-index.css">
  <link rel="icon" href="../static/images/favicon.ico">
  <script src="../static/javascript/index.js"></script> 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Open+Sans:ital,wght@1,700&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
  <title>Brigitta News</title>
</head>

<body>
  <div class="header">
    <h1>Brigitta News</h1>
    <div class="menu">
      <a href="#" class="text-header">Home</a>
      <a href="weekFamous.html" class="text-header">Famous News This Week </a>
      <a href="search.html" class="text-header">Search</a>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="weekFamous.html">Famous News This Week</a></li>
        <li><a class="dropdown-item" href="search.html">Search</a></li>
      </ul>
    </div>
  </div>


  <div class="center-hv">
    <main>
      <div class="card">
        <a href="" class="intro"></a>
      </div>

      <div class="card">
        <a href="" class="intro"> Some  in second div, just some textt,  just some text,  just some text;</a>
      </div>

      <div class="card">
        <a href="" class="intro">  Some text in third div, just some text,  just some text,  just some text;</a>
      </div>

      <div class="card">
       <a href="" class="intro">
          Some text in fourth div, just some text,  just some text,  just some text;
        </a>
      </div>

      <div class="card">
        <a href="" class="intro">  Some text in fifth div, just some text,  just some text,  just some text;</a>
      </div>
      
    </main>
  </div>


  <div class="section-grid">
    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Business</h2>
        <hr>

        <div class="one-row">
          <img class="news-img b-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title b-title">News one news one News one news one News one news one News one news one News one news one</a>
        </div>

        <div class="one-row">
        <img class="news-img b-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title b-title">News two news two</a>
          </div>

          <div class="one-row">
        <img class="news-img b-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title b-title">News three news one</a>
          </div>

    </div>

    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Sport</h2>
        <hr>
        <div class="one-row">
        <img class="news-img s-img" src="../static/images/triangle.png" alt="">
        <a href="#" class="news-title s-title">News one news one</a>
        </div>
        <div class="one-row">
        <img class="news-img s-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title s-title">News two news two</a>
          </div>
          <div class="one-row">
        <img class="news-img s-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title s-title">News three news one</a>
          </div>

    </div>

    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Politics</h2>
        <hr>
        <div class="one-row">
        <img class="news-img p-img" src="../static/images/triangle.png" alt="">
        <a href="#" class="news-title p-title">News one news one</a>
        </div>
        <div class="one-row">
        <img class="news-img p-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title p-title">News two news two</a>
          </div>
          <div class="one-row">
        <img class="news-img p-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title p-title">News three news one</a>
          </div>

    </div>

    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Technology</h2>
        <hr>
        <div class="one-row">
        <img class="news-img t-img" src="../static/images/triangle.png" alt="">
        <a href="#" class="news-title t-title">News one news one</a>
        </div>
        <div class="one-row">
        <img class="news-img t-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title t-title">News two news two</a>
          </div>
          <div class="one-row">
        <img class="news-img t-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title t-title">News three news one</a>
          </div>

    </div>


  </div>

  <div class="end-text">
    © 2021 Brigitta News
  </div>

  </div>
</body>

</html>
