<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/style-index.css">
  <link rel="icon" href="../static/images/favicon.ico">
  <title>Brigitta News</title>
</head>

<body>
  <div class="header">
    <h1>Brigitta News</h1>
    <div class="menu">
      <a href="#">Home</a>
      <a href="#">Famous News This Week </a>
      <a href="#">Search</a>
    </div>
  </div>


  <div class="center-hv">
    <main>
      <div class="card">

        <p class="intro">
          Some text, just some text,  just some text,  just some text;
        </p>

      </div>
      <div class="card">

        <p class="intro"> Some text in second div, just some text,  just some text,  just some text;</p>
      </div>
      <div class="card">

        <p class="intro">  Some text in third div, just some text,  just some text,  just some text;</p>
      </div>
      <div class="card">

        <p class="intro">
          Some text in fourth div, just some text,  just some text,  just some text;
        </p>
      </div>
      <div class="card">

        <p class="intro">  Some text in fifth div, just some text,  just some text,  just some text;</p>
      </div>
    </main>
  </div>


  <div class="section-grid">
    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Bulgaria</h2>
        <hr>

        <div class="one-row">
          <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News one news one News one news one News one news one News one news one News one news one</a>
        </div>

        <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News two news two</a>
          </div>

          <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News three news one</a>
          </div>

    </div>

    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Sport</h2>
        <hr>
        <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
        <a href="#" class="news-title">News one news one</a>
        </div>
        <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News two news two</a>
          </div>
          <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News three news one</a>
          </div>

    </div>

    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Politic</h2>
        <hr>
        <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
        <a href="#" class="news-title">News one news one</a>
        </div>
        <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News two news two</a>
          </div>
          <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News three news one</a>
          </div>

    </div>

    <div class="section">

        <img class="triangle" src="../static/images/triangle.png" alt="">
        <h2>Education</h2>
        <hr>
        <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
        <a href="#" class="news-title">News one news one</a>
        </div>
        <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News two news two</a>
          </div>
          <div class="one-row">
        <img class="news-img" src="../static/images/triangle.png" alt="">
          <a href="#" class="news-title">News three news one</a>
          </div>

    </div>


  </div>

  </div>
</body>

</html>
